{% extends 'base.html.twig' %}

{% block main %}
<h1>Pricing</h1>

<div class="pricing-grid">
    <div>
        <h2>Plan 1</h2>
        Brief summary of plan.

        <hr>

        <p>
            Detail 1
            <br>
            Detail 2
            <br>
            Detail 3
            <br>
            Detail 4
        </p>

        <h2>$3.99 / month</h2>

        <a class="button soft-shadow-bottom" href="{{ path('register') }}">Learn More</a>
    </div>

    <div>
        <h2>Plan 2</h2>
        Brief summary of plan.

        <hr>

        <p>
            Detail 1
            <br>
            Detail 2
            <br>
            Detail 3
            <br>
            Detail 4
        </p>

        <h2>$6.99 / month</h2>

        <a class="button soft-shadow-bottom" href="{{ path('register') }}">Learn More</a>
    </div>

    <div>
        <h2>Plan 3</h2>
        Brief summary of plan.

        <hr>

        <p>
            Detail 1
            <br>
            Detail 2
            <br>
            Detail 3
            <br>
            Detail 4
        </p>

        <h2>$9.99 / month</h2>

        <a class="button soft-shadow-bottom" href="{{ path('register') }}">Learn More</a>
    </div>
</div>
{% endblock %}